RewriteEngine On

# Quickregister Rules
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

RewriteRule ^badge/(.*) badge.php?badge=$1
RewriteRule ^habbo-imaging/badge/(.*) habbo-imaging/badge.php?badge=$1
RewriteRule ^index(|/)$ ./index.php
RewriteRule ^market(|/)$ ./market.php
RewriteRule ^registro(|/)$ ./registro.php
RewriteRule ^login(|/)$ ./login.php
RewriteRule ^forgot(|/)$ ./forgot.php
RewriteRule ^forgotchange(|/)$ ./forgotchange.php
RewriteRule ^register(|/)$ ./register.php
RewriteRule ^support(|/)$ ./support.php
RewriteRule ^news/(..*)$ ./news.php?url=$1
RewriteRule ^etiqueta/(..*)$ ./etiqueta.php?url=$1
RewriteRule ^account/(..*)$ ./account.php?item=$1
RewriteRule ^photos/(..*)$ ./photos.php?url=$1
RewriteRule ^home/(..*)$ ./home.php?idd=$1
RewriteRule ^perfil/(..*)$ ./home.php?idd=$1
RewriteRule ^logout(|/)$ ./logout.php
RewriteRule ^banned(|/)$ ./banned.php
RewriteRule ^mantenimiento(|/)$ ./mantenimiento.php
RewriteRule ^disconnected(|/)$ ./disconnected.php
RewriteRule ^hotel(|/)$ ./hotel.php
RewriteRule ^beta(|/)$ ./hotelv2.php
RewriteRule ^me(|/)$ ./me.php
RewriteRule ^articles(|/)$ ./articles.php
RewriteRule ^articles/gratis(|/)$ ./articles-gratis.php
RewriteRule ^articles/hotel(|/)$ ./articles-hotel.php
RewriteRule ^articles/mobis(|/)$ ./articles-mobis.php
RewriteRule ^articles/promocao(|/)$ ./articles-promocao.php
RewriteRule ^articles/sistema(|/)$ ./articles-sistema.php
RewriteRule ^gallery(|/)$ ./gallery.php
RewriteRule ^hall(|/)$ ./hall.php
RewriteRule ^staff(|/)$ ./staff.php
RewriteRule ^shop(|/)$ ./shop.php
RewriteRule ^account(|/)$ ./account.php
RewriteRule ^account/site(|/)$ ./accountsite.php