<rule name="rule 1H">
	<match url="^badge/(.*)"  />
	<action type="Rewrite" url="/badge.php?badge={R:1}"  />
</rule>
<rule name="rule 2H">
	<match url="^habbo-imaging/badge/(.*)"  />
	<action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}"  />
</rule>
<rule name="rule 3H">
	<match url="^index(|/)$"  />
	<action type="Rewrite" url="/./index.php"  />
</rule>
<rule name="rule 4H">
	<match url="^market(|/)$"  />
	<action type="Rewrite" url="/./market.php"  />
</rule>
<rule name="rule 5H">
	<match url="^registro(|/)$"  />
	<action type="Rewrite" url="/./registro.php"  />
</rule>
<rule name="rule 6H">
	<match url="^login(|/)$"  />
	<action type="Rewrite" url="/./login.php"  />
</rule>
<rule name="rule 7H">
	<match url="^forgot(|/)$"  />
	<action type="Rewrite" url="/./forgot.php"  />
</rule>
<rule name="rule 8H">
	<match url="^forgotchange(|/)$"  />
	<action type="Rewrite" url="/./forgotchange.php"  />
</rule>
<rule name="rule 9H">
	<match url="^register(|/)$"  />
	<action type="Rewrite" url="/./register.php"  />
</rule>
<rule name="rule 10H">
	<match url="^support(|/)$"  />
	<action type="Rewrite" url="/./support.php"  />
</rule>
<rule name="rule 11H">
	<match url="^news/(..*)$"  />
	<action type="Rewrite" url="/./news.php?url={R:1}"  />
</rule>
<rule name="rule 12H">
	<match url="^etiqueta/(..*)$"  />
	<action type="Rewrite" url="/./etiqueta.php?url={R:1}"  />
</rule>
<rule name="rule 13H">
	<match url="^account/(..*)$"  />
	<action type="Rewrite" url="/./account.php?item={R:1}"  />
</rule>
<rule name="rule 14H">
	<match url="^photos/(..*)$"  />
	<action type="Rewrite" url="/./photos.php?url={R:1}"  />
</rule>
<rule name="rule 15H">
	<match url="^home/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 16H">
	<match url="^perfil/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 17H">
	<match url="^logout(|/)$"  />
	<action type="Rewrite" url="/./logout.php"  />
</rule>
<rule name="rule 18H">
	<match url="^banned(|/)$"  />
	<action type="Rewrite" url="/./banned.php"  />
</rule>
<rule name="rule 19H">
	<match url="^mantenimiento(|/)$"  />
	<action type="Rewrite" url="/./mantenimiento.php"  />
</rule>
<rule name="rule 20H">
	<match url="^disconnected(|/)$"  />
	<action type="Rewrite" url="/./disconnected.php"  />
</rule>
<rule name="rule 21H">
	<match url="^hotel(|/)$"  />
	<action type="Rewrite" url="/./hotel.php"  />
</rule>
<rule name="rule 22H">
	<match url="^beta(|/)$"  />
	<action type="Rewrite" url="/./hotelv2.php"  />
</rule>
<rule name="rule 23H">
	<match url="^me(|/)$"  />
	<action type="Rewrite" url="/./me.php"  />
</rule>
<rule name="rule 24H">
	<match url="^articles(|/)$"  />
	<action type="Rewrite" url="/./articles.php"  />
</rule>
<rule name="rule 25H">
	<match url="^articles/gratis(|/)$"  />
	<action type="Rewrite" url="/./articles-gratis.php"  />
</rule>
<rule name="rule 26H">
	<match url="^articles/hotel(|/)$"  />
	<action type="Rewrite" url="/./articles-hotel.php"  />
</rule>
<rule name="rule 27H">
	<match url="^articles/mobis(|/)$"  />
	<action type="Rewrite" url="/./articles-mobis.php"  />
</rule>
<rule name="rule 28H">
	<match url="^articles/promocao(|/)$"  />
	<action type="Rewrite" url="/./articles-promocao.php"  />
</rule>
<rule name="rule 29H">
	<match url="^articles/sistema(|/)$"  />
	<action type="Rewrite" url="/./articles-sistema.php"  />
</rule>
<rule name="rule 30H">
	<match url="^gallery(|/)$"  />
	<action type="Rewrite" url="/./gallery.php"  />
</rule>
<rule name="rule 31H">
	<match url="^hall(|/)$"  />
	<action type="Rewrite" url="/./hall.php"  />
</rule>
<rule name="rule 32H">
	<match url="^staff(|/)$"  />
	<action type="Rewrite" url="/./staff.php"  />
</rule>
<rule name="rule 33H">
	<match url="^shop(|/)$"  />
	<action type="Rewrite" url="/./shop.php"  />
</rule>
<rule name="rule 34H">
	<match url="^account(|/)$"  />
	<action type="Rewrite" url="/./account.php"  />
</rule>
<rule name="rule 35H">
	<match url="^account/site(|/)$"  />
	<action type="Rewrite" url="/./accountsite.php"  />
</rule>
<rule name="rule 36H">
	<match url="^etiqueta(|/)$"  />
	<action type="Rewrite" url="/./news/4.php"  />
</rule>
