.card.comment .card-body {
	display: flex;
}

.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist .comment {
	margin-bottom: 1.5rem;
}

#comments:target:before,
.commentlist :target:before {
	content: "";
	display: block;
	height: 88px;
	margin: -88px 0 0;
	position: relative;
	z-index: -2;
}
.admin-bar #comments:target:before,
.admin-bar .commentlist :target:before {
	content: "";
	display: block;
	height: 118px;
	margin: -118px 0 0;
	position: relative;
	z-index: -2;
}

.commentlist .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist .children .comment {
	padding-left: 4.5rem;
}

.commentlist .children .comment .comment {
	padding-left: 3rem;
}


.commentlist .children .avatar img {
	margin-left: 2px;
	margin-top: -2px;
}

.commentlist .comment-body {
	margin-bottom: 1rem;
}

.commentlist .comment-body .avatar {
	margin-bottom: 1rem;
}

.commentlist .comment-author {
	margin-right: 1rem;
}

.commentlist .comment-details {
	width: 100%;
	background-color: rgba(0,0,0,0.04);
	padding-bottom: 1rem;
	border-radius: 1rem;
	padding: 0.75rem 1rem;
}

[data-theme="dark"] .commentlist .comment-details {
	background-color: rgba(255,255,255,0.04);
}

.comment-text {
	color: #666;
}

.comment-text p {
	margin-bottom: 0;
}

.commentlist .reply {
	color: #999;
	font-weight: 500;
	font-size: 0.875em;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.commentlist .reply a {
	color: #666;
}

.commentlist .reply .fas {
	color: #999;
}

.commentlist a.comment-edit-link {
	margin-left: auto;
	color: #999;
}

.commentlist .reply .comment-reply-link {
	display: block;
}

.commentlist .comment .comment-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.commentlist .comment .comment-meta .author {
	font-weight: 500;
}

.commentlist .comment .comment-meta .author a {
	color: inherit;
}

.commentlist .comment .comment-meta .badge-primary {
	background-color: rgba(9,169,236,0.1);
	color: var(--color-primary);
	transform: translateY(-1px);
}

@media (min-width: 768px) {
	.commentlist .comment-body {
		display: flex;
	}
}

.form-submit {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.comment .comment-respond {
	padding-left: 4.5rem;
}

.comment-reply-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
.comment-reply-title .cancel {
	font-size: 0.675em;
	font-weight: 500;
}
.comment-reply-title .cancel a {
	background-color: rgba(0,0,0,0.05);
	padding: 0.5rem 0.75rem;
	border-radius: 2rem;
	color: #666;
}

pre {
	padding: 0.75rem;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: rgba(0,0,0,0.02);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 0.5rem;
}

.comments-forum > hr {
	display: none;
}

.comments-forum .commentlist .comment-details {
	background-color: var(--color-item);
	box-shadow: 0 6px 16px -4px rgba(0,0,0,.05);
}

.comments-forum .commentlist .comment .comment-meta {
	margin-bottom: 1rem;
}

.comments-forum .commentlist .comment .comment-meta .author {
	font-size: 1.5em;
}

.comments-forum .comment-text {
	color: #222;
}

[data-theme="dark"] .comments-forum .comment-text {
	color: #fff;
}

.comments-forum .commentlist .reply {
	color: #999;
	margin-top: 1rem;
}
#qt_comment_toolbar {
	background-color: var(--color-item);
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: 0;
	color: #666;
	padding: 0.75rem;
	padding-bottom: 0.25rem;
	border-radius: 0.5rem 0.5rem 0 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	flex-wrap: wrap;
}

#qt_comment_toolbar input {
	background-color: rgba(0,0,0,0.05);
	border-radius: 0.5rem;
	border: 0;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	color: #666;
	font-weight: 500;
}

[data-theme="dark"] #qt_comment_toolbar input {
	background-color: rgba(255,255,255,0.05);
	color: rgba(255,255,255,0.6);
}


.comment-form-comment .form-control {
	border-radius: 0 0 0.5rem 0.5rem;
}

.cardnews {
    background-color: var(--color-item);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px -4px rgb(0 0 0 / 10%);
    margin-bottom: 1rem;
}
/* Modal */

.modal-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    overflow: auto;
    visibility: hidden;
    z-index: 999999;
    transition: opacity .5s, visibility .5s ease-in-out;
}

.modal-container.active {
    opacity: 1!important;
    visibility: visible!important;
    transition: opacity .5s, visibility .5s ease-in-out;
}

#modal-content {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: auto;
}

#news-modal {
    position: relative;
    background: rgb(255, 255, 255);
    width: 450px;
    border: 1px solid rgb(212, 211, 209);
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#news-modal-header-news-info {
    position: relative;
    background: rgb(236, 236, 236);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
}

#news-modal-header-news-info-habbo-author {
    position: relative;
    width: 64px;
    height: 70px;
    margin: -25px 0 0 -5px;
    overflow: hidden;
}

#participants-modal-news,
#link-modal-news {
    position: relative;
    background: rgb(236, 236, 236);
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
    padding: 8px 8px 8px 30px;
}

#message-modal-news {
    position: relative;
    background: rgb(236, 236, 236);
    width: 100%;
    height: 100px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    padding: 7px 8px 8px 30px;
    resize: none;
}
icon[icon="head-plus"] {
    position: relative;
    background: url('/assets/img/brytch.png') no-repeat -1482px -406px;
    width: 17px;
    height: 18px;
    z-index: 1;
}

icon[icon="link"] {
    position: relative;
    background: url('/assets/img/brytch.png') no-repeat -1395px -522px;
    width: 15px;
    height: 16px;
    z-index: 1;
}
icon[icon="mail"] {
    position: relative;
    background: url('/assets/img/brytch.png') no-repeat -263px -84px;
    width: 16px;
    height: 14px;
    z-index: 1;
}
icon[icon="ballon"] {
    position: relative;
    background: url(/assets/img/brytch.png) no-repeat -1345px -573px;
    width: 30px;
    height: 33px;
    z-index: 1;
}
